@*
 * A component for editing Applied Pi code.
 *@

<div class='outer'>
    <textarea placeholder="Type Applied Pi Code here." @bind=Text @bind:event=oninput spellcheck="false"/>
</div>

@code {
    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public EventCallback<string> TextChanged { get; set; }

    protected override void OnParametersSet()
    {
        TextChanged.InvokeAsync(Text);
    }
}
