/*
 * The following theme values are supported:
 *   --background-theme-color
 *   --foreground-theme-color
 */

.outer {
    padding-top: 5px;
    padding-left: 5px;
}

.attack-summary {
    background-color: var(--foreground-theme-color, darkgray);
    color: var(--background-theme-color, black);
    font-weight: bold;
    padding: 5px;
}

.rule-listing {
    padding-left: 20px;
    border-left: 5px solid grey;
}

.transformation {
    padding-left: 20px;
    opacity: 90%;
}

.premise-listing {
    border-left: 5px solid grey;
}

.no-attack-message {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-style: italic;
}
