/*
 * The following theme values are supported:
 *   --background-theme-color
 *   --foreground-theme-color
 */

.outer {
    margin-top: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
    border-left: 5px solid grey;
}

.outer:hover {
    border-left: solid 5px red;
}

.summary-line {
    flex-direction: row;
    background-color: var(--foreground-theme-color, darkgray);
    color: var(--background-theme-color, black);
    display: flex;
}

.attack-summary {
    flex-grow: 1;
    font-weight: bold;
    padding: 5px;
}

.summary-line button {
    flex-grow: 0;
}

.query-as {
    padding-left: 20px;
    opacity: 90%;
    font-style: italic;
}

.transformation {
    padding-left: 20px;
    opacity: 90%;
}

.rule-listing {
    padding-left: 20px;

}

.no-attack-message {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-style: italic;
}
