@*
 * A basic editing component for Stateful Horn clauses.
 *@

<div class='outer'>
    <textarea placeholder="Type Stateful Horn clauses here." @bind=Text @bind:event=oninput spellcheck="false"></textarea>
</div>

@code {
    private string _Text = "";

    [Parameter]
    public string Text
    {
        get => _Text;
        set
        {
            if (_Text != value)
            {
                _Text = value;
                TextChanged.InvokeAsync(_Text);
            }
        }
    }

    [Parameter]
    public EventCallback<string> TextChanged { get; set; }

    private async void OnTextChanged()
    {
        await TextChanged.InvokeAsync(Text);
    }
}
