@*
 * A basic editing component for Stateful Horn clauses.
 *@

<div class='outer'>
    <textarea placeholder="Type Stateful Horn clauses here." @bind=Text @bind:event=oninput spellcheck="false"></textarea>
</div>

@code {
    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public EventCallback<string> TextChanged { get; set; }

    protected override void OnParametersSet()
    {
        TextChanged.InvokeAsync(Text);
    }

    private async void OnTextChanged()
    {
        await TextChanged.InvokeAsync(Text);
    }
}
