@*
 * Component to allow the user to input a filter for studying a collection of rules. By having
 * a separate component, the complexity of determining if the provided filter is valid or not
 * can isolated.
 *@

@using StatefulHorn

<div class='outer'>
    <input class='filter-input
           @ValidityCSSClass'
           @bind=FilterText
           @bind:event=oninput
           disabled=@Disabled
           placeholder='Search for event, message or state.'
           spellcheck="false"/>
</div>

@code {
    [Parameter]
    public bool Disabled { get; set; } = false;

    [Parameter]
    public string FilterText { get; set; } = "";

    [Parameter]
    public RuleFilter? Filter { get; set; } = new("");

    protected override void OnParametersSet()
    {
        Filter = RuleFilter.CreateValid(FilterText);
        if (Filter != null)
        {
            FilterChanged?.InvokeAsync(Filter);
        }
    }

    [Parameter]
    public EventCallback<RuleFilter>? FilterChanged { get; set; }

    private string ValidityCSSClass => Filter == null ? "invalid-filter" : "valid-filter";
}
