@*
 * Component for displaying a set of Rule Changes together.
 *@

@using StatefulHorn

<div class='outer'>
    @* Virtualization is not used here as the height of RuleChangeDisplay varies between elements. *@
    @foreach (Universe.ChangeLogEntry e in Entries) {
        <RuleChangeDisplay Entry=e/>
    }
</div>

@code {
    [Parameter]
    public IReadOnlyList<Universe.ChangeLogEntry> Entries { get; set; } = new List<Universe.ChangeLogEntry>();
}
