/*
 * The following theme values are supported:
 *   --know-event-color
 *   --init-event-color
 *   --new-event-color
 *   --accept-event-color
 *   --make-event-color
 *   --accept-event-color
 *   --leak-event-color
 */

.event {
    padding: 2px;
}

    .event::after {
        content: ", ";
    }

    .event:last-of-type::after {
        content: "";
    }

.event-name {
    font-style: italic;
}

.know {
    color: var(--know-event-color, lightgreen);
}

.new {
    color: var(--new-event-color, cyan);
}

.make {
    color: var(--accept-event-color, orange);
}
