@*
 * Primitive visual element that displays an event.
 *@
@using StatefulHorn

@if (Event != null)
{
    <span class='@Event.EventType.ToString().ToLower()'>
        <span class='event-name'>@Event.EventType.ToString().ToLower()</span>
        (
            <span class='linear-element'>@FormatUtils.FormatLabel(Event.Message.ToString())</span>
        )
    </span>
}
else
{
    <span class='no-event-display'>Event not set.</span>
}

@code {

    /// <summary>
    /// Event to display in the control. If null, then an "Event not set" message will be
    /// displayed.
    /// </summary>
    [Parameter]
    public Event? Event { get; set; }

}
