@inherits LayoutComponentBase

<div class='page-header'>
        <a href='/'>Stateful Horn Widget Tests</a>
        <a href='/applied-pi'>Applied Pi Widget Tests</a>
</div>

<div class='page'>
    <main>
        @Body
    </main>
</div>
