@inherits LayoutComponentBase

<main class='screen'>
    <div class='top-bar'>
        <h1>S·A·R·S·A·P·A·R·I·L·L·A</h1>
        <div class='top-right-bar'>
            <div class='page-actions'>
                <a href='/'>π-Calculus Model</a>
                <a href='/horn'>Stateful Horn Model</a>
                <a href='/help'>Help</a>
                <a href='https://github.com/n-crrn'>Author</a>
            </div>
            <div class='warning'>⚠ This is experimental software, results are <em>not</em> guaranteed correct.</div>
        </div>
    </div>

    <div class='page'>
        @Body
    </div>
</main>

