@inherits LayoutComponentBase

<main class='screen'>
    <div class='page-actions'>
        <h1>S·A·R·S·A·P·A·R·I·L·L·A</h1>
        <a href='/'>Stateful Horn</a>
        <a href='/pi'>Applied Pi</a>
        <a href='/help'>Help</a>
        <a href='https://github.com/n-crrn'>Author</a>
    </div>

    <div class='page'>
        @Body
    </div>
</main>

