.compile-error-message {
    margin: 10px;
    padding: 10px;
    background-color: salmon;
    font-weight: bold;
    color: black;
}

.pane-button-bar {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
}

    .pane-button-bar > button {
        margin: 2px;
    }

    .pane-button-bar > .grower {
        flex-grow: 1;
    }


.editor-pane-contents {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.parse-pane-contents {
    flex-grow: 1;
    overflow: auto;
}

.no-engine-message {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-style: italic;
}

h4 {
    margin-left: 20px;
    margin-right: 20px;
}

h5 {
    margin-left: 30px;
    margin-right: 20px;
}

.query-block {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.query-message {
    padding: 10px;
}

.initial-state-block {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.initial-state {
    padding: 10px;
}
