.compile-error-message {
    margin: 10px;
    padding: 10px;
    background-color: salmon;
    font-weight: bold;
    color: black;
}

.editor-pane-contents {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.parse-pane-contents {
    flex-grow: 1;
    overflow: auto;
}

h4 {
    margin-left: 20px;
    margin-right: 20px;
}

.no-engine-message {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-style: italic;
}
