@page "/applied-pi"

@*
 * Demonstration of the SarsaWidgets used for the Applied Pi related matters.
 *@

@using AppliedPi
@using SarsaWidgets

<section>
    <h2>Applied Pi Editor</h2>
    <p>Blank:</p>
    <AppliedPiEditor/>
    <p>Preset text:</p>
    <AppliedPiEditor Text=@PiNetworkTestSource/>
</section>

<section>
    <h2>Network Display</h2>
    <NetworkDisplay Network=@TestNetwork/>
</section>

<section>
    <h2>Resolved Network Display</h2>

    <ResolvedNetworkDisplay SourceNetwork=ResolveTestNw ResolvedNetwork=ResolveTestResolvedNw/>
</section>

@code {
    private static readonly string PiNetworkTestSource =
            "free A, B, C: channel.\n" +
            "free D: kitten [private].\n" +
            "type kitten.\n" +
            "type (* Random comment *) dog.\n" +
            "type host.\n" +
            "(* Another surprise comment. *)\n" +
            "fun pk(skey): pkey.\n" +
            "fun sencrypt(bitstring,nonce): bitstring.\n" +
            "reduc forall x: bitstring, y: skey; decrypt(encrypt(x, y),y) = x.\n" +
            "query attacker(D).\n" +
            "const c1: tag [data].\n" +
            "\n" +
            "let procA(hostA: host) = out(c, D).\n" +
            "\n" +
            "process\n" +
            "    let h: channel = if X = A then A else C in\n" +
            "    if h <> A && h <> B then\n" +
            "        out(A, host).";

    private readonly Network TestNetwork = Network.CreateFromCode(PiNetworkTestSource);

    private static readonly string ResolvedPiNetworkTestSource =
        @"(* Full test of calling processings. *)
free c: channel.
type key.
fun encrypt(bitstring, key): bitstring.
reduc forall x: bitstring, y: key; decrypt(encrypt(x, y),y) = x.
const Good: bitstring.
const Bad: bitstring.

(* Sub-processes *)
let rx(k: key) = in(c, value: bitstring);
                 let x: bitstring = decrypt(value, k) in out(c, true) else out(c, false).
let send(k: key) = out(c, encrypt(Good, k));
                   in(c, z: bool);
                   if z then out(c, Bad) else out(c, z).

(* Main *)
process
    new kValue: key;
    (! send(kValue) | ! rx(kValue)).";

    private readonly Network ResolveTestNw;

    private readonly ResolvedNetwork ResolveTestResolvedNw;

    public AppliedPiPage()
    {
        ResolveTestNw = Network.CreateFromCode(ResolvedPiNetworkTestSource);
        ResolveTestResolvedNw = ResolvedNetwork.From(ResolveTestNw);
    }
}
